/* -----------reset------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

img{
  display: block;
}

/* -----------code------------ */
/* -----------heder----------- */
:root{
  --main-font:"Merriweather";
  --logo-font:"Raleway";
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  color: #212121;
  background-color: #FFF;
  font-family: var(--main-font);
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  display: block;
  background-color: #FFF;
}

.header{
  display:flex;
}

.header-container{
  display: flex;
  align-items: center;
}

.nav-list, .adres-list {
  display:flex;
  padding: 35px 0px;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-logo{
  font-family: var(--logo-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000;
  padding : 35px, 0px, 35px, 0px;
}

.header-logo-blue{
  color: #2196F3;
}

.header-logo-white{
  color: #FFF;
}

.nav{
  margin-left: 95px;
}

.nav-list-link{
  font-family: var(--main-font);
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.adres-list-link{
  font-family: var(--main-font);
  color:#757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.link-hover-style{
  font-size: 16px;
}

.link-hover-style:hover,
.link-hover-style:focus{
  transition: 0.5s;
  font-size: 18px;
  color: #2196F3;
}

.nav-list-item:not(:last-child){
  margin-right: 55px;
}

.adres-list{
  margin-left: auto;
}

.adres-list-item:not(:last-child){
  margin-right: 44px;
}

.section-title{
  color: #212121;
  text-align: center;
  font-family: var(--main-font);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.hero{
  background: #2F303A;
}

.hero-container{
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title{
  margin-bottom: 40px;
  color: #FFF;
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.hero-button {
  display: block;
  margin: 0 auto;
  padding: 10px 24px;
  width: 200px;
  border: none;
  border-radius: 10px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
}

.hero-button:hover{
  transition: 0.5s;
  box-shadow: 0px 0px 10px 10px rgb(40, 155, 231);
  background-color: #d021f3;
}

.about-company{
  padding-top: 85px;
}

.about-company-list{
  display: flex;
  justify-content: space-between;
}

.about-company-list-item{
  width: 270px;
}

.about-company-list-item-title{
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.about-company-list-item-text{
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.what-we-do-img{
  padding-bottom: 94px;
}

.what-we-do-img-list{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.what-we-do-img-list-item{
  width: 370px;
}

.team{
  background: #f1f1ee;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title{
  margin-bottom: 50px;
}

.team-list{
  display: flex;
  justify-content: space-between;
}

.team-list-item{
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  background: #FFF;

  /* material shadow v1 */
  box-shadow: 
  0px 2px 1px 0px rgba(0, 0, 0, 0.20),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14),
  0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-list-worker-name{
  padding-top: 30px;
  padding-bottom: 10px;

  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 525;
  line-height: normal;
  letter-spacing: 0.48px;
}

.team-list-worker-status{
  padding-bottom: 30px;

  color: #757575;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

footer{
  padding-top: 60px;
  padding-bottom: 60px;

  background: #2F303A;
}

.footer-address{
  padding-top: 28px;

  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  letter-spacing: 0.42px;
}

.address-list-item{
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.60);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  letter-spacing: 0.42px;
}

.about-us h1, .portfolio-all h1{
  text-align: center;
  margin: 50px 0 30px 0;
}

.about-us p, .portfolio-all p{
  font-size: 0.7em;
  margin-bottom: 10px;
}

.about-us p:last-child, 
.portfolio-all p:last-child{
  margin-bottom: 100px;
}

.portfolio-all ul{
  list-style-type: disc;
  margin-bottom: 10px;
}

.portfolio-all li{
  font-size: 0.7em;
  margin-left: 25px;
}

.form-title{
  margin-bottom: 50px;
  text-align: center;
}

.form-order{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #bdbdbd;
  margin: 50px auto;
  padding: 20px;
  border-radius: 20px;
  width: 300px;
}

.form-order button{
  width: 200px;
  height: 50px;
  margin-top: 30px;
  background-color: #2196F3;
  border: none;
  border-radius: 20px;
  color: #FFF;
  font-size: 16px;
}

.form-order button:hover{
  transition: 0.5s;
  box-shadow: 0px 0px 10px 10px rgb(40, 155, 231);
  background-color: #d021f3;
}

.form-order input, .form-order select{
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: none;
}

.form-order p{
  margin-top: -15px;
  top: 20px;
  position: relative;
  font-size: 16px;
  text-align: center;
}

.order-container{
  width: 200px;
}