body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 50, 50);
    color: white;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

button {
    width: 100px;
    height: 50px;
    margin: 10px;
    border: none;
    outline: none;
    background-color: rgb(0, 153, 255);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: rgb(0, 102, 204);
    transform: scale(1.1);
}

/* button:active{
  background-color: rgb(153, 0, 94);
  transition: all 0.1s ease;
} */

/* Анімації для правильної та неправильної відповіді */
.correct-anim {
    animation: CorrectAnswer 0.5s;
}

.wrong-anim {
    animation: WrongAnswer 0.5s;
}

@keyframes CorrectAnswer {
    0% {
        background-color: green;
        transform: scale(1);
    }

    50% {
        background-color: lightgreen;
        transform: scale(1.2);
    }

    100% {
        background-color: rgb(0, 153, 255);
        transform: scale(1);
    }
}

@keyframes WrongAnswer {
    0% {
        background-color: red;
        transform: scale(1);
    }

    50% {
        background-color: pink;
        transform: scale(1.2);
    }

    100% {
        background-color: rgb(0, 153, 255);
        transform: scale(1);
    }
}

.start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-screen {
    display: none;
    align-items: center;
}

#timer {
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}